/* Dichiarazione variabili */

html{
--white: #ffffff;
--black: #000000;
--grey-padd: #4a4a4a;
--trasp-black: #00000075;
--darker-gray: #222222;
--green: #3da80f;
--red: #ff0000;
}





/* SELETTORI GENERICI */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: var(--white);
    text-decoration: none;
}

/* SELETTORI SPECIFICI */



/* HEADER */

.view-options{
    position: fixed;
    top: 1em;
    right: 1em;
    color: var(--white);
    z-index: 1;
}

.view-options span{
    background-color: var(--grey-padd);
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 0.8em;
    margin-left: 1em;
}

/* MAIN */

.container-main {
    display: flex;
    min-height: 100vh; 
    max-width: 100vw;
    background-color: var(--black);
}
/* NB:
- l'altezza la metto min- perchè così lo sfondo occupa tutto lo schermo anche nel caso in cui restringo la finestra
*/

main{
    display: flex;
    max-width: 100vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
}

.guest-window{
    position: relative;
    height: 150px;
    width: 250px;
    margin: 0.6em 0.2em;
}

.guest-status{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    font-size: 0.8em;
    background-color: var(--trasp-black);
    color: var(--white);
}



/* FOOTER */

footer{
    color: var(--white);
    font-size: 0.8em;
}

footer .functionalities{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darker-gray);
}

footer .fas{
    font-size: 2em;
    margin-bottom: 0.2em;
}

.row{
    display: flex;

}

.row .funct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 5em;
    margin: 0 1em;
    padding: 2em 0.5em;
}

.funct:hover{
    cursor: pointer;
    background-color: #0000002d;
}

.fa-chevron-up{
    margin-top: 2.5em;
    font-size: 10px !important;
}

.fa-share-square{
    color: var(--green);
}

.row-right {
    background-color: var(--grey-padd);
    height: 64px;
    display: flex;
    align-items: center;
}

.row-right span{
    color: var(--red);
    padding: 0 2em;
}

.row-right:hover{
    cursor: pointer;
    filter: brightness(70%);
}